<div class="row" data-next="{{page_url next}}" style="margin-bottom: 40px;">
    <div class="text-center">
        <button class="loadmore" data-pages="{{pages}}">
            更多文章
        </button>
    </div>
</div>
